# === Global ===
.idea/
.vscode/
.DS_Store
Thumbs.db

# === Python / Backend ===
# Ignora todos os ambientes virtuais
.venv/
venv/
env/

# Caches do Python
__pycache__/
*.py[cod]
*.egg-info/

# Segredos e logs do Backend
backend/.env
backend/*.log

# === Node / Frontend ===
#
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/logs/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*